@model MindTheGap.Models.GapsTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GapsTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GapEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GapEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GapStart }) |
    @Html.ActionLink("Back to List", "Index")
</p>
